.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  width: 100vw;
}

.main > * {
  flex: 1;
}

.awesomeColumn {
  margin: 5px;
  padding: 10px;

  max-height: 90vh;

  display: flex;
  flex-direction: column;

  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  overflow-y: scroll;
}

.awesomeDisclosure summary {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.awesomeDisclosure > ul {
  flex-direction: column;
}

.awesomeRow {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-top: 2px solid #bbb;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #16dcd2, #cdb473);

  transition: border 3s ease-in-out;

  position: relative;
}

.awesomeRow:hover,
.awesomeRow:focus {
  border: 2px solid #bbb;
}

.awesomeRow h2 {
  margin: 0;
  padding-bottom: 5px;

  font-size: 1.4rem;
}

.awesomeRow p {
  margin: 0.6rem 0;
  padding-bottom: 5px;

  font-style: italic;
  color: #bbb;

  border-bottom: 1px solid #bbb;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
