.redirectLink {
  padding: 0.6rem;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;

  background: linear-gradient(to left, #743ad5, #d53a9d);
}

@media (max-width: 768px) {
  .redirectLink {
    padding: 0.4rem;
  }
}