.searchBar {
  margin: 5px;
  padding: 5px;

  font-size: 1.1rem;

  background: none;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

  transition: border 3s ease-in-out;
}

.searchBar:hover,
.searchBar:focus {
  outline: 0;

  border: 2px solid #bbb;
}