.shareButton {
  position: absolute;
  right: 10px;
  top: 10px;

  color: #bbb;
  font-size: 0.7rem;
  cursor: pointer;

  background: none;
  border: 0;
  transition: border 1s ease-in-out;
}

.shareButton:focus,
.shareButton:active,
.shareButton:hover {
  outline: 0;
  border: 1px solid #bbb;
}
