.TagsContainer li {
  margin: 0 8px 0 0;
  padding: 5px;

  list-style: none;
  text-align: center;

  font-size: 0.7rem;
  color: #fff;

  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #16dcd2, #cdb473);

  cursor: pointer;

  display: flex;
}