.container {
  margin: 10vh 0;

  display: flex;
  align-items: center;
  justify-content: center;

}

.form {
  margin: 1rem;
  padding: 2rem 2rem 0 2rem;
  font: inherit;

  width: 468px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: none;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.form > * {
  font-size: 1.1rem;

  margin: 0 0 1.5rem 0;
  padding: 12px 16px;

  background: none;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #16dcd2, #d53a9d);
}

.form > *:hover,
.form > *:focus {
  transition: border-color 0.3s ease-in-out;
  border: 2px solid #aaa;
}

.tagsInput {
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;

  color: #bbb;
}

.tagRemove {
  display: block;
  color: #bbb;
  border-left: 1px solid #bbb;
  
  margin-left: 5px;
  padding-left: 5px;

  font-weight: bolder;
}

.tagInput {
  margin-bottom: 0.6rem;
  padding: 10px;

  width: 100%;

  background: none;
  border: 1x solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #16dcd2, #cdb473);
}